*{
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    --primary-color:#0F1B4C;
}

body{
    font-size: 1.6rem;
    font-family: Poppins;
}
/* ====================== Common ======================= */
a{
    text-decoration: none;
}

.content{
    width: 1100px;
    max-width: calc(100% - 48px);
    margin: auto;
}

.btn{
    display: inline-block;
    min-width: 98px;
    padding: 18px 16px;
    border-radius: 12px;
    background: var(--primary-color);
    color: #FFF;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
}
/* ======================= Header ========================== */
.header{
    position: relative;
    background: #E6F0FF;
    height: 100vh;
}
.navbar{
    display: flex;
    align-items: center;
    padding-top: 50px;
}

.navbar ul{
    display: flex;
    padding-left: 38px;
}

.navbar ul a{
    font-weight: 500;
    font-size: 1.4rem;
    color: #4f5361;
    padding: 8px 14px;
}

.navbar ul a:hover{
    text-decoration: underline;
}

.navbar .action{
    margin-left: auto;
}

.navbar .action-link{
    color: var(--primary-color);
    font-size: 1.4rem;
    font-weight: 500;
}

.navbar .action-btn{
    padding: 13px 16px;
    margin-left: 18px;
    border-radius: 8px;
}

.navbar .action-btn:hover{
    opacity: 0.9;
}

.hero{
    padding-top: 130px;
}

.hero .info{
    width: 51%;
}

.hero .sub-title{
    color: #687690;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.18px;
}

.hero .title{
    margin-top: 8px;
    color: #000336;
    font-size: 6.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.18;
}

.hero .desc{
    padding-top: 30px;
    color: #5A6473;
    font-family: Poppins;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.77;
}

.hero-cta{
    margin-top: 40px;
    min-width: 170px;
}

.hero-img{
    position: absolute;
    right: calc((100vw - 1110px) / 2 - 100px);
    bottom: 0;
}

/* ======================= Clients ========================== */
.clients {
    margin-top: 79px;
    padding: 43px 0px 63px;

}
.clients .row {
    display: flex;
    justify-content: space-between;
}

.clients .desc {
    color: #7D8589;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.25;
}

.clients .row-desc {
    margin-top: 23px;
}

.clients .images {
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.clients .images a {
    display: flex;
    align-items: center;
    height: 90px;
    padding: 0 42px;
    border-radius: 12px;
}

.clients .images a:hover {
     box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.10);
}
/* ======================= Guides ========================== */

.guides {
    margin-top: 40px;
    padding: 79px 0px;
}
.guides .sub-title {
    position: relative;
    color: #000339;
    text-align: center;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1;
}

.guides .sub-title::before {
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    display: inline-block;
    width: 41px;
    height: 4px;
    border-radius: 12px;
    background: #000339;
}

.guides .desc {
    width: 459px;
    max-width: 100%;
    margin: 20px auto 0;
    color: #5A6473;
    text-align: center;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.87;
}

.list-guides {
    margin-top: 70px;
    display: flex;
    justify-content: center;
}

.guides-item {
    margin: 0 70px;
    text-align: center;
}

.guides-item .title {
    margin-top: 26px;
    color: #3B3C45;
    text-align: center;
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.1;
}

.guides-item .link {
    display: inline-block;
    margin-top: 10px;
    color: #0689FF;
    text-align: center;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.guides-item .arrow {
    margin-left: 6px;
}

.guide-cta {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.guide-cta .btn {
    min-width: 170px;
}

/* ======================= Featured ========================== */

.featured{
    margin-top: 41px;
    padding: 110px 0px;
    background: #F5FAFE;
}

.featured .sub-title {
    color: #000339;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1;
}

.featured .row{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.featured .desc {
    color: #5A6473;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.875;
}

.featured .link {
    display: flex;
    align-items: center;
    color: #0689FF;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
}

.featured .arrow {
    margin-left: 8px;
}

.featured .list {
    margin-top: 70px;
    display: flex;
    gap: 30px;
}

.featured .item {
    flex: 1;
    background: #fff;
    border-radius: 12px;
}

.featured .item .thumb {
    width: 100%;
    height: 227px;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.featured .item .body {
    padding: 17px 20px 24px;
}

.featured .item .title a {
    color: #000339;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.featured .item .desc {
    margin-top: 11px;
    color: #A3A6AB;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.featured .item .info {
    margin-top: 22px;
}

.featured .item .icon {
    margin-left: 23px;
}

.featured .item .icon:first-child {
    margin-left: 0;
}

.featured .item .label {
    margin-left: 8px;
    color: #4D4D52;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1;
}

/* ======================= Stats ========================== */

.stats {
    margin-top: 75px;
    padding: 50px;
}

.stats .content {
    width: 1048px;
}
.stats .row {
    display: flex;
}

.stats .img-block,
.stats .info {
    width: 50%;
}

.stats .img-block {
    position: relative;
}
.stats .info {
    padding: 79px 0 0 165px;
}

.stats .img-block .image {
    display: block;
    margin-left: auto;
    width: 400px;
    height: 460px;
    object-fit: cover;
    border-radius: 12px;
}

.stats .sub-title {
    position: relative;
    width: 269px;
    color: #000339;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.29;
}

.stats .sub-title::before {
    display: inline-block;
    position: absolute;
    top: -10px;
    content: "";
    width: 41px;
    height: 4px;
    border-radius: 12px;
    background: #000339;
}

.stats .info .desc {
    width: 309px;
    margin-top: 20px;
    color: #5A6473;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.88;
}

.stats-trend {
    position: absolute;
    width: 239px;
    top: 0;
    left: 0;
    background-color: #fff;
    border-radius: 0px 0px 12px 12px;
    padding: 45px 22px 40px;
}

.stats-trend .value {
    color: #000339;
    font-size: 2.6rem;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.26px;
}

.stats-trend .icon {
    margin-left: auto;
}

.stats-trend .desc {
    margin-top: 8px;
    color: #A7A7A7;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5; 
}

.stats-trend .seperate {
    height: 1.2px;
    background: #E9E9E9;
    margin-top: 26px;
}

.stats .avatar-block {
    display: flex;
    flex-wrap: wrap;
    margin-top: 26px;
    gap: 16px 14px;
}

.stats .avatar-group {
    display: flex;
}

.stats .avatar {
    width: 16px;
    height: 16px;
    object-fit: cover;
    border-radius: 50%;
}

.stats-trend .row {
    display: flex;
    /* justify-content: space-between; */
}

.stats .row-qty {
    margin-top: 100px;
    justify-content: space-between;
    padding: 0 32px;
}

.stats .qty {
    color: #000;
    font-size: 6.4rem;
    font-weight: 600;
}

.stats .qty-desc {
    margin-top: 24px;
    color: #7B8087;
    font-size: 1.8rem;
    font-weight: 500;
}

.subscription {
    margin-top: 90px;
}

.subscription .body {
    position: relative;
    display: flex;
    align-items: center;
    height: 370px;
    border-radius: 20px;
    background: #063183;
}

.subscription .info {
    width: 671px;
    /* max-width: 100%; */
    padding: 0 80px;
}

.subscription .sub-title {
    color: #FFF;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5;
}

.subscription .desc {
    margin-top: 15px;
    color: #FFF;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.88;
}

.subscription .btn {
    margin-top: 20px;
    min-width: 151px;
    color: #002366;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 500;
    background-color: white;
}

.subscription .img {
    position: absolute;
    bottom: 0;
    right: 221px;
}


/* =============== Footer ================ */

.footer {
    margin-top: 55px;
    padding: 50px 0 58px;
}

.footer .row {
    display: flex;
}

.footer .row-top {
    gap: 185px;
}

.footer .heading {
    color: #1C1C1D;
    font-family: "Lato", sans-serif;
    font-size: 2rem;
    font-weight: 700;
}

.footer .list, .footer .desc {
    margin-top: 42px;
}

.footer .item {
    margin-top: 18px;
}

.footer .item a, .footer .desc {
    color: #7A7A7E;
    font-size: 1.6rem;
    line-height: normal;
    white-space: nowrap;
}

.footer .desc {
    white-space: normal;
}

.footer .social {
    display: flex;
    margin-top: 40px;
}

.footer .social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    border-radius: 3px;
    background: #F9F9F9;
}

.footer .social-link + .social-link {
    margin-left: 16px;
}

.footer .social-link:hover {
    background: #ddd;
}

.footer .row-bottom {
    margin-top: 81px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer .copyright {
    color: #C2C2C2;
    font-size: 1.4rem;
    font-weight: 400;
}